<div class="container">
    <h1>Carpets</h1>

  <div class="container-cards">
    <% @carpets.each do |carpet| %>
      <div class="cards">
        <div class="cards-top">
          <h2><%= carpet.name %></h2>
          <p><%= carpet.description %></p>
        </div>
        <div class="cards-bottom">
          <h2"><%= carpet.price%>€</h2>
        </div>
      </div>
    <% end %>
  </div>
  
  
  <br>
    <h3 type="button ">
      <%= link_to 'New Carpet', new_carpet_path %>
    </h3>
  <br>

</div>
