.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Open Sans', sans-serif;
}

.notice {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Open Sans', sans-serif;
}
