//STYLES
.cards {
  min-height: 500px;
  width: 300px;
  min-width: 300px;
  padding: 32px;
  margin: 16px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards > img {
  object-fit: cover;
}

.cards h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.cards p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

