//STYLES
.cards {
  height: 500px;
  width: 300px;
  margin: 5px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;

  &:hover {
    color: rgba(0,0,0,0.9);
    transition: 1s;
    transform: scale(1.01);
  }
}

.cards > img {
  position: absolute;
  width: 300px;
  height: 300px;
  object-fit:cover;
  border-radius: 3%;
}

.card-body {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cards h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.cards p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

#new-carpet-card {
  margin-top: 16px;
}
