.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom-color: $primary-purple;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  margin-right: 16px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  margin-left: 16px;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 1rem !important;
}

.nav-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
